$primary: #3c87f7;
$light: #e9ecef;
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.hero {
  .image {
    width: 150px;
  }

  .item {
    width: 80%;
  }
}

.child {
  .image {
    width: 80px;
  }

  .item {
    width: 88%;
  }
}
